<!DOCTYPE html>

<html>
    <form id="login-form"  method="post" action="classes/login.php">
  <div class="form-group">
    <label for="user_email">Sähköposti</label>
    <input type="email" class="form-control" name="user_email" id="user_email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Tähän voi kirjuttaa jotain</small>
  </div>
  <div class="form-group">
    <label for="user_password">Salasana</label>
    <input type="password" class="form-control" name="user_password" id="user_password" placeholder="Salasana">
  </div>
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Muista minut (tää ei sitten toimi, katotaan kerkiääkö laittaa toimimaan)
    </label>
  </div>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-primary" onclick="NaytaRekisterointi()">Minulla ei ole tunnuksia</button></div>
        <div class="col-sm-4" id="main"> </div>
        <div class="col-sm-4"><button type="submit" name="log_in" class="btn btn-primary">Kirjaudu</button></div>
      </div>
  
  
  
</form>
    <script src="js/login.js"> </script>
</html>
