<!DOCTYPE html>

<html>
    <form id="login-form"  method="post" action="classes/login.php">
  <div class="form-group">
    <label for="user_email">Sähköposti</label>
    <input type="text" class="form-control" name="user_email" id="user_email" aria-describedby="emailHelp" placeholder="Käyttäjänimi tai sähköposti" required>
    <small id="emailHelp" class="form-text text-muted">Kirjaudu sisään sähköpostilla tai nimellä</small>
  </div>
  <div class="form-group">
    <label for="user_password">Salasana</label>
    <input type="password" class="form-control" name="user_password" id="user_password" placeholder="Salasana" required>
  </div>

  </div>
    <div class="row">
        <div class="col-sm-4"><button type="button" class="btn btn-primary" onclick="NaytaRekisterointi()">Minulla ei ole tunnuksia</button></div>
        <div class="col-sm-4" id="main"> </div>
        <div class="col-sm-4"><button type="submit" name="log_in" class="btn btn-primary">Kirjaudu</button></div>
      </div>
  
  
  
</form>
    <script src="js/login.js"> </script>
</html>
