<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <body>
        <nav class="nav flex-sm-column">
            <a class="nav-link" href="index.php">Etusivu</a>
            <a class="nav-link" onclick="NaytaKalenterit()" href="#">Kalenterit</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#">Disabled</a>
        </nav>



    </body>
</html>
