<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body><div class="container">
   <h2>Table</h2>
                                           
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Kello</th>
        <th>Maanantai</th>
        <th>Tiistai</th>
        <th>Keskiviikko</th>
        <th>Torstai</th>
        <th>Perjantai</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td> 8</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#mon-collapse-8" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="mon-collapse-8">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#tue-collapse-8" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="tue-collapse-8">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReserveTime" data-whatever="@mdo">Open modal for @mdo</button>
                            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#ReserveTime" data-time-to-reserve="9:00">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
         <tr>
            <td> 9</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#mon-collapse-9" aria-expanded="false" aria-controls="collapseExample">
                    9-1
                </button>
                <div class="collapse" id="mon-collapse-9">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#tue-collapse-9" aria-expanded="false" aria-controls="collapseExample">
                   9-10
                </button>
                <div class="collapse" id="tue-collapse-9">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
    </tbody>
  </table>
  </div>
</div>

    </body>
    
</html>
