<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
 
<div class="modal fade" id="ReserveTime" tabindex="-1" role="dialog" aria-labelledby="ReserveTimeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReserveTimeLabel">Varaa aika</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="reserve-time-form" method="post" action="classes/processforms.php">

            
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nimesi</label>
            <input type="text" class="form-control" name="reserver-name" id="reserver-name" placeholder = "Kirjoita tähän nimesi" maxlength="32" required>
            <input type="hidden" id="ReserveOnDate" name ="ReserveOnDate" value="">
            <input type="hidden" id="TimeToReserve" name="TimeToReserve" value="">
              <input type="hidden" id="PassCalendarName" name="PassCalendarName" value="">
          </div>
            <button type="button" class="btn btn-secondary" id="reserve-button-close" onclick="ReserveButtonClose()" data-dismiss="modal">Sulje</button>
            <button type="submit" class="btn btn-primary" id="reserve-button-confirm" > Varaa aika</button>
        </form>
      </div>
      <div class="modal-footer">
          <div id="alert-reserve-success" style="display:none" class="alert alert-success" role="alert">
              Aika on nyt varattu onnistuneesti!
          </div>
      </div>
    </div>
  </div>
</div>
<script src="js/calendar.js"></script>   
    </body>
</html>
