<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body><div class="container">
        <div class="row">
  <div class="col">Höpöptipö</div>
  <div class="col">Maanantai</div>
  <div class="col">Tiistai</div>
  <div class="col">Keskiviikko</div>
  <div class="col">Torstai</div>
  <div class="col">Perjantai</div>
        </div>
        </div>
  <div class="row">
  <div class="col-3">9</div>
  <div class="col"><div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success ">00</button>
    <button type="button" class="btn btn-success ">15</button>
     <button type="button" class="btn btn-danger ">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div>
 </div>
  <div class="col"><div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success ">00</button>
    <button type="button" class="btn btn-success ">15</button>
     <button type="button" class="btn btn-danger ">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
        </div>
        <div class="row">
  <div class="w-100"></div> 
   <div class="col-3">10</div>
  <div class="col"><div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <div class="btn-group" role="group">
      <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ajat
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" href="#">00</a>
        <a class="dropdown-item" href="#">15</a>
        <a class="dropdown-item" href="#">30</a>
        <a class="dropdown-item" href="#">45</a>
      </div>
    </div>
    </div></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
  <div class="row">
  <div class="col-3">11</div>
  <div class="col"><div class="btn-group-vertical btn-block btn-sm" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div></div>
  <div class="col"><div class="btn-group-vertical btn-block btn-sm" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
        </div>
        <div class="row">
  <div class="col-3"> 12</div>
  <div class="col">
       <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    12-13
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block" data-target="#ReserveTime" data-time="12:00">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ReserveTime" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

    </div>
  </div>
</div></div>
  <div class="col"> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    12-13
  </button>

<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div>
  </div>
</div></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
        </div>
        <div class="row">
  <div class="col-3"> 13</div>
  <div class="col">
       <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
    12-13
  </button>

<div class="collapse" id="collapseExample3">
  <div class="card card-body">
    <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div>
  </div>
</div></div>
  <div class="col"> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
    12-13
  </button>

<div class="collapse" id="collapseExample4">
  <div class="card card-body">
    <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-success btn-block">00</button>
    <button type="button" class="btn btn-success btn-block">15</button>
     <button type="button" class="btn btn-danger btn-block">30</button>
      <button type="button" class="btn btn-success">45</button>

    </div>
  </div>
</div></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
        </div>
        <div class="container">
  <h2>Table</h2>
  <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Kello</th>
        <th>Maanantai</th>
        <th>Tiistai</th>
        <th>Keskiviikko</th>
        <th>Torstai</th>
        <th>Perjantai</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td> 8</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
         <tr>
            <td> 8</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample8">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
    </tbody>
  </table>
  </div>
</div>
                
  <table class="table">
    <thead>
      <tr class="table-info">
        <th class="table-danger">Kello</th>
        <th>Maanantai</th>
        <th>Tiistai</th>
        <th>Keskiviikko</th>
        <th>Torstai</th>
        <th>Perjantai</th>
      </tr>
    </thead>
    <tbody>
        <tr class="danger">
            <td class="succes"> 8</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
         <tr>
            <td> 8</td>
            <td> <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                    8-9
                </button>
                <div class="collapse" id="collapseExample8">
                    <div class="card card-body">
                        <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-success btn-block">00</button>
                            <button type="button" class="btn btn-success btn-block">15</button>
                            <button type="button" class="btn btn-danger btn-block">30</button>
                            <button type="button" class="btn btn-success">45</button>

                        </div>
                    </div>
                </div></td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
        </tr>
    </tbody>
  </table>


        
        
     <script src="js/calendar.js"></script>   
    </body>
    
</html>
s